@using Exam.Application.Dtos.Teacher
@model List<TeacherDto>
@{
    ViewData["Title"] = "Teacher Page";
}
<div class="container">
    <div class="row card shadow-sm mt-4 p-4">
        <h1 class="text-center mb-4">Teacher List</h1>
        <div class="container">
            <div class="row justify-content-end">
                <a asp-controller="Teacher" asp-action="Create" class="btn btn-success mb-3">
                    <i class="bi bi-plus-circle"></i> Create New Teacher
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <td>@teacher.FirstName</td>
                        <td>@teacher.LastName</td>
                        <td class="d-flex justify-content-between">
                            <a asp-controller="Teacher" asp-action="Update" asp-route-teacherId="@teacher.Id" class="btn btn-sm btn-outline-primary" title="Edit Teacher">
                                <i class="bi bi-pencil-square"></i> Update
                            </a>
                            <form asp-controller="Teacher"
                                  asp-action="Delete"
                                  asp-route-id="@teacher.Id"
                                  method="post"
                                  style="display:inline;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-outline-danger" title="Delete Teacher">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>